{% extends 'baseNavBar.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/design.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
{% endblock css%}


{% block title %}

Participant Registration
    
{% endblock title%}


  {% block page %} 
  <section id = "peserta" class = "registrasi">
      <div class = "container-fluid">
        <div class="row">
          <div class="col">
            <h5 id = 'title'>The information below will be used to fill form of the event you choose</h5>
          </div>
        </div>


      <form action='' method="POST">
      {% csrf_token %}
        <div class = "row">
          <div class = "col col-kiri">
            <div class="jumbotron">
              <div class="container-fluid">
                <div class="row">
                  <div class="col">
                    <h3>Profile Information</h3>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <h6>Please enter a valid email to receive further information on the event:</h6>  
                    {{form.Email}}
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                      {{form.Undergraduate_Student}} Undergraduate
                      <br/>
                      {{form.Fresh_Graduate}} Fresh Graduate
                  </div>

                  <div class="col">
                      {{form.High_School_Student}} High School Student   
                      <br/>                
                      {{form.Other}} Other
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <h6>What's your company name?</h6>
                      {{form.Company}}
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <h6>Name</h6>
                      {{form.Name}}
                  </div>

                  <div class="col">
                    <h6>Gender</h6>
                      {{form.Gender}}
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <h6>Date of Birth:</h6>
                      {{form.Birthdate}}
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <h6>Number for Contact</h6>
                      {{form.Contact}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class = "col col-kanan">
            <div class="jumbotron">
              <div class="container-fluid">
              <div class = "row">
                <h1 class="display-4">Syarat dan Ketentuan</h1>
              </div>

              <div class="accordion-container">
                <div class="accordion" id="accord-activity">
                  <button id="button-activity">1</button>
                  <p class="content" id="content-activity">Kami memiliki hak untuk kapan saja menampilkan, mengubah, menghapus, menghilangkan, atau menambahkan segala konten yang ditampilkan dalam Situs ini.</p>
                </div>

                <div class="accordion" id="accord-experience">
                  <button id="button-experience">2</button>
                  <p class="content" id="content-experience">Sebelum menjadi Pengguna Terdaftar, Anda diwajibkan membaca, memahami, dan mematuhi Syarat dan Ketentuan serta Kebijakan Privasi yang berlaku di Situs ini.</p>
                </div>

                <div class="accordion" id="accord-achievement">
                  <button id="button-achievement">3</button>
                  <p class="content" id="content-achievement">Anda diharuskan memberi data informasi pribadi yang sebenarnya dan tidak memberikan informasi menyimpang dan/atau informasi yang tidak relevan dalam melakukan proses registrasi menjadi Pengguna Terdaftar. Selain itu Anda juga diharuskan memberi kontak detail yang benar dan valid.</p>
                </div>
              </div>              

              <div id = "kawah" class="row">
                <div class="col">
                {{form.Privacy}} I agree!
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

      <div class="row">
        <div class="col">
          <div class="float-right"><input type="submit" class="btn btn-warning" value="REGISTER"></div>
        </div>
      </div>
    </form>
    </div>
 </section>

 <script>
  {% if user.is_authenticated %}
    $('#name').attr('value', "{{user.get_username}}");
  {% endif %}

  $(document).on('submit', '#formContact', function(ev) {
        ev.preventDefault();
        $('#buttoncontact').click(function(){
            $.ajax({
                type: "POST",
                url: "/contact/",
                data: {
                    {% if user.is_authenticated %}
                        name: "{{user.get_username}}",
                        email: $('#email').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    {% else %}
                        name: $('#name').val(),
                        email: $('#email').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    {% endif %}
                },

                success: function(res) {
                    alert('Terimakasih!');
                    $(location).attr('href', '{% url "home" %}');
                },

            });
        });
    })
  </script>

  {% endblock page %}
