{% extends 'baseNavBar.html' %}
{% load static %}
    
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainContact.css' %}">
{% endblock css%}

{% block title %}
    Contact Us
{% endblock title %}

{% block page%}
</br>
    <center>
    <button id="changeColor" type="button" class="btn btn-danger">RED COLOR</button>
    </center>
    <center>
        <br/><br/>
        <h1 id="judulContact" class ="text">Contact Us</h1>
    </center>
    <div id='contact'>
        <form method='POST' id = 'formContact'>

            {% csrf_token %} {{ form_contact.non_field_errors }}

            <div>
                <p>{{form_contact.name.label}} </p>
                <div>{{form_contact.name}}</div>
                {{form_contact.name.errors }}
            </div>

            <div>
                <p>{{form_contact.email.label}} </p>
                <div>{{form_contact.email}}</div>
                {{form_contact.email.errors}}
            </div>

            <div>
                <p>{{form_contact.location.label}} </p>
                <div>{{form_contact.location}}</div>
                {{form_contact.location.errors}}
            </div>

            <div>
                <p>{{form_contact.about.label}} </p>
                <div>{{form_contact.about}}</div>
                {{form_contact.about.errors}}
            </div>

            <div>
                <p>{{form_contact.message.label}} </p>
                <div>{{form_contact.message}}</div>
                {{form_contact.message.errors}}
            </div>
            <br/>

            <button id="buttoncontact" type="submit" class="btn btn-warning " style="float: right;">SEND</button>

        </form>
    </div>
    <br/>
    <br/>

    <center>

    <button id="tentangKami" type="button" class="btn btn-secondary">about us</button>

    <script>
    {% if user.is_authenticated %}
        $('#name').attr('value', "{{user.get_username}}");
    {% endif %}
   
    $(document).on('submit', '#formContact', function(ev) {
    //nngambil form contact
        ev.preventDefault();
        $('#buttoncontact').click(function(){
            $.ajax({
                type: "POST",
                url: "/contact/",
                data: {
                    {% if user.is_authenticated %}
                        name: "{{user.get_username}}",
                        email: $('#email').val(),
                        location: $('#location').val(),
                        about: $('#about').val(),
                        message: $('#message').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    {% else %}
                        name: $('#name').val(),
                        email: $('#email').val(),
                        location: $('#location').val(),
                        about: $('#about').val(),
                        message: $('#message').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    {% endif %}
                },

                success: function(res) {
                    alert('Terimakasih telah memberi pesan');
                    $(location).attr('href', '{% url "contact" %}');
                },

            });
        });
    })
    
    </script>
{% endblock page%}

{% block js %}
    <script src="{% static 'js/contactjs.js' %}"></script>
{% endblock js %}
