{% extends 'baseNavBar.html' %}

{% load static %}

{% block title %}
    LOGIN
{% endblock title %}

{% block page%}


<div>
    <div class="bodyLogin"></div>
            <div class="grad"></div>
            <div class="header">
                <div>EVENT<span>.in</span></div>
            </div>
            <br>
            <div class="login">
                <form action="{% url 'account:login' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <!-- <input type="text" placeholder="username" name="user"><br>
                    <input type="password" placeholder="password" name="password"><br> -->
                    <input type="submit" value="login">
                    <p class="login__signup">Don't have an account? &nbsp;<a href="{% url 'account:signup' %}">Sign up</a></p>
                </form>
            </div>
</div>
        
{% endblock page%}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
    
    {% endblock css%}