
{% extends 'baseNavBar.html' %}

{% load static %}


{% block title %}
    SIGN UP
{% endblock title %}

{% block page%}
<div>
        <div class="bodySignup"></div>
                <div class="grad"></div>
                <div class="header">
                    <div>EVENT<span>.in</span></div>
                </div>
                <br>
                <div class="login">
                    <form action="{% url 'account:signup' %}" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        
                        <!-- <input type="text" placeholder="username" name="user"><br>
                        <input type="password" placeholder="password" name="password"><br> -->
                        <input type="submit" value="Sign Up">
                    </form>
                </div>
    </div>
        
{% endblock page%}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
</head>
<body>
    Signup
    <form action="{% url 'account:signup' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="" id="" value="Signup">
    </form>
</body>
</html> -->

{% block css %} 
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
    
    {% endblock css%}