{% extends 'baseNavBar.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/stylelanding.css' %}" />
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="{% static 'js/landingpagesearch.js' %}"></script> -->
{% endblock css %}

{% block title %}
    Event.in
{% endblock title %}
{% block page%}

    <div class="landing mb-3">
        <h1>Event.in</h1>
        <h3>search & promote your event here</h3>
    </div>
    <h1 class="headerLanding">Our Events</h1>
    <div class="active-grey-3 active-grey-4 mb-5 mt-4 width-80">
        <input id="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
    <div class="d-flex flex-wrap cont" id="events">
        {% for e in events %}
        <a href="/events/{{e.id}}">
            <div class="event" style="background-image: url('media/{{e.image}}')">
                <h4>
                    {{ e.event }}
                </h4>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="mt-3 bg-color-black">
        <div class="container">

            <h1>Feedback to our site</h1>
            <div>
                <!-- <legend>Comments</legend> -->
                <form class="textInfo site-form" action="/" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input class="butt" type="submit" value="Submit"> 
                </form>
            </div>
        </div>
    </div>
{% endblock page %}

{% block script %}
    <script src="{% static 'js/landingpagesearch.js' %}"></script>
{% endblock script %}