.hr {
    margin-top: 30px;
    border: 5px solid rgb(255, 196, 0);
    margin-bottom: 0;
}

#judulContact {
    font-size: 30px;
}

body {
    font-family: 'Sansita', sans-serif;
}

ul.footer {
    margin-top: 10px;
    text-align: center;
}

ul.footer li {
    color: #333;
    display: inline-block;
}

#footer {
    bottom: -50px;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}