section {
	min-height: 420px;
}

.jumbotron {
    min-height: 750px;
    padding: 2rem 2rem;
}

.genap {
	color: #191970;
}

.ganjil {
	color: #191970;
}

.foto {
	margin-top: 15px;
}

.col {
	margin-top: 15px;
	margin-bottom: 15px;
}

.sklist {
	display: flex;
}

.fa {
	font-size: 250%;
}

.display-4 {
	margin-top: 8px;
}

.row-skills {
	min-height: 70px;
}

#contact {
	min-height: 250px;
}

#experience {
	min-height: 250px;
}

#education {
	min-height: 250px;
}



html {
  font-size: 1rem;
}

@media (max-width: 480px) {
  html {
    font-size: 0.7rem;
  }
}

@media (min-width: 1248px) {
  html {
    font-size: 1rem;
  }
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

body {
  background-color: #FFFFFF;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

.dark-mode {
  background-image: linear-gradient(to bottom right, Black, #000000);
  transition: 0.7s ease;
}

.bg-nav {
  background-color: #000000;
}

.dark-mode .bg-nav{
  background-color: #D3D3D3 ;
}

.navbar-header a {
  color: white;
}

.dark-mode .navbar-header a {
  color: black;
}


.profile-container {
  padding-top: 8%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark-mode .profile-container {
  color: #ffffff;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #D3D3D3;
  border-radius: 5px;
  width: 30vw;
  height: 5vh;
  margin-top: 1%;
  border: 1px solid #00000040;
  transition: 0.5s ease;
}

button:hover {
  background-color: #D3D3D3;
  transition: 0.7s ease;
}

.content {
  background-color: #FFFFFF;
  border: 1px solid #00000030;
  border-top: 0;
  border-radius: 4px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

#mode-label {
  margin-right: 1vw;
  color: #FFFFFF 
}

.dark-mode #mode-label {
  color: #000000;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCCCCC70;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFFDD;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  margin-bottom: 0;
}


 @media only screen and (max-width: 600px) {
  .profile-container {
    margin-bottom: 5%;
  }

  button {
    width:75vw;
    font-size:110%;
  }

  .content {
    font-size: 100%;
  }

  .navbar {
    padding-right: 0;
  }

  .switch {
    margin-bottom: 0;
  }
 }

 @media only screen and (max-width: 375px) {
  .profile-container {
    margin-bottom: 5%;
  }

  .profile-container h3 {
    font-size: 160%;
  }

  button {
    width:70vw;
    font-size:100%;
  }

  .content {
    font-size: 80%;
  }

  .navbar {
    padding-right: 0;
  }

  .switch {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 320px) {
  .content {
    font-size: 75%;
  }

  button {
    width:70vw;
    font-size:85%;
  }

  .profile-container h3 {
    font-size: 140%;
  }
}

@media only screen and (device-width: 768px) {
  .profile-container {
    margin-bottom: 5%;
  }

  .profile-container h3 {
    font-size: 250%
  }

  button {
    width:75vw;
    font-size:130%;
  }

  .content {
    font-size: 130%;
  }

  .navbar {
    padding-right: 0;
  }

  .switch {
    margin-bottom: 0;
  }
}

@media only screen and (device-width: 1024px) and (max-height: 1366px)  {
  nav {
    height: 8vh;
  }
  
  .navbar-brand {
    font-size: 160%;
  }
  
  nav ul {
    height: 5vh;
    font-size: 150%;
  }
 
  .profile-container {
    margin-bottom: 5%;
  }

  .profile-container h3 {
    font-size: 300%
  }

  button {
    width:75vw;
    font-size:190%;
  }

  .content {
    font-size: 170%;
  }

  .navbar {
    padding-right: 0;
  }

  .switch {
    margin-bottom: 0;
  }
 }
}

