{% extends 'baseNavBar.html' %}

{% load static %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">
    {% endblock css%}
{% block title %}
    EVENTS
{% endblock title %}

{% block page%}
  <div class="black-theme"">
    <!-- <div class="container-fluid"> -->


        <div class="row justify-content-center align-items-center row2">
          <img class="picEvent" src="/media/{{event.image}}" alt="">
        </div>
        
        <br></br>
        <div class="row justify-content-around align-items-center row3 form">
            <div class="col-md-6">
                <div class="text-left textInfo descEvent">
                  <input type="checkbox" name="checkbox" id="switch" onclick="check();" class="switch">
                  <br></br>
                  <div class="box-name">{{event.event}}</div>
                  <br></br>
                  <p>{{event.desc}}</p>
                </div>
            </div>
            <div class="col-md-4">
              <div class="text-left textInfo infoEvent">
                <p>Date : {{event.tanggal}}</p>
                <p>Time : {{event.waktu}}</p>
                <p>Location : {{event.location}}</p>
                <br>
                <div class="box-register"><a href="/join/{{event.id}}" >REGISTER</a></div>
              </div>
            </div>
        </div>

        <br></br>
        {% if user.is_authenticated %}
        <div class="row justify-content-center align-items-center row4">
              <form class="textForm site-form" action="/events/{{event.id}}" method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Submit"> 
              </form>
        </div>
        {% endif %}



        <br></br>
    <!-- </div> -->
        <div id="commentResult" >
              
        </div>



{% endblock page%}

{% block js %}
    <script src="{% static 'scripts/eventgallery.js' %}"></script>
{% endblock js %}