* {
    font-family: 'Sansita', sans-serif;
}

body {
    background-color: white;
}

#judulContact {
    color: black;
}

.red {
    color: red;
}

#contact {
    width: 70%;
    height: 30%;
    padding-top: 50px;
    padding-left: 30%;
}