{% extends 'baseNavBar.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/pendaftaranevent.css' %}"> {% endblock css %} {% block title %} Event Registration {% endblock title %} {% block page %}

<body id="body_event_regis">
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <center>
                        <h1 id="regis" style="font-family: 'Sansita', sans-serif;">Registration</h1>
                    </center>
                    <br>
                    <form id="form_create_event" method="POST" novalidate enctype="multipart/form-data">{% csrf_token %}
                        <div id="corporate_name" class="form-group">
                            {{form.corporate_name}}
                        </div>
                        <div id="address" class="form-group">
                            {{form.address}}
                        </div>
                        <div id="email" class="form-group">
                            {{form.email}}
                            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div id="event" class="form-group">
                            {{form.event}}
                        </div>
                        <div class="form-group">
                            {{form.location}}
                        </div>
                        <div class="form-group">
                            {{form.tanggal}}
                        </div>
                        <div class="form-group">
                            {{form.waktu}}
                        </div>
                        <div class="form-group">
                            {{form.desc}}
                            <small class="form-text text-muted">Maximum word that you can fill only 60 words</small>
                        </div>
                        <div class="form-group">
                            {{form.image}}
                        </div>
                        <br>
                </div>
            </div>
        </div>
        <button id="button_create_event" style="float: right;" type="submit" class="btn btn-warning">Send</button>
        </form>
    </div>
    <br/>
    <br/>

    <script>
        $(document).on('submit', '#form_create_event', function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '/event-regis/',
                data: {
                    corporate_name: $('#id_corporate_name').val(),
                    address: $('#id_address').val(),
                    email: $('#id_email').val(),
                    event: $('#id_event').val(),
                    location: $('#id_location').val(),
                    tanggal: $('#id_tanggal').val(),
                    waktu: $('#id_waktu').val(),
                    desc: $('#id_desc').val(),
                    image: $('#id_image').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(res) {
                    $(location).attr('href', '{% url "pendaftaran" %}');

                }
            });
        })
    </script>

    <script>
        $("#regis").mouseover(function() {
            $(this).css("color", 'rgb(255, 196, 0)');
        });

        $("#regis").mouseleave(function() {
            $(this).css("color", 'black');
        });

        $("#button_create_event").click(function() {
            alert("Terimakasih");
        });
    </script>
    {% endblock page %}